@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}